@import '../../styles/index.scss';

.container {
  box-sizing: border-box;
  position: relative;
  width: 257px;
  height: 261px;
}

.smallContainer {
    width: 127px;
}

.wrapper {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  cursor: pointer;
}

.smallWrapper {
    right: 20px;
}

.small {
  height: var(--header-height);
  align-items: flex-end;
}
