@import '../../styles/index.scss';

.container {
  @include container;
  position: absolute;
  z-index: 8;
  top: 0;
  bottom: var(--footer-height);
  right: 0;
  left: 0;
  background: #1b1b1b;
  mix-blend-mode: normal;
  opacity: 0.96;
  transition: transform 200ms ease-in-out;
  transform: translateX(100%);
}

.active {
  transform: translateX(0%);
}

.header {
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 28px;
  padding-top: 65px;
}

.image {
  width: 192px;
  height: 192px;
}

.name {
  @include textHeadings(var(--color-green-80));
}

.artist {
  @include textSecondary;
}

.dots {
  font-size: 24px;
  color: var(--color-grey-50);
  letter-spacing: 22px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.action {
  @include textMain(var(--color-white-100));
  cursor: pointer;
}
