@mixin container {
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

@mixin rem-calc($sizeValue: 16) {
  font-size: $sizeValue + rem;
  font-size: calc($sizeValue / 16) + px;
}

// fonts

@mixin textSecondary {
  font-size: toRem(18);
  text-transform: uppercase;
  color: var(--color-grey-50);
}

@mixin textMain($color, $size: 24) {
  font-size: toRem($size);
  color: $color;
}

@mixin textHeadings($color) {
  font-size: toRem(36);
  color: $color;
}

@mixin textSecondaryBig {
  align-self: flex-end;
  font-size: toRem(24);
  color: var(--color-grey-50);
}

@mixin transition($type: transform, $time: 200ms, $style: ease-in-out) {
  transition: $type $time $style;
}
