:root {
    --font-main: 'Source Sans Pro', sans-serif;
    --color-black-80: #1b1b1b;
    --color-grey-50: #9A9B9B;
    --color-white-100: #ffffff;
    --color-green-50: #4dce7e;
    --color-green-80: #0FD65A;
    --color-green-100: #1fe76c;
    --container-padding: 56px;
    --header-height: 131px;
    --footer-height: 89px;
}