@import '../../styles/index.scss';

.headerContainer {
  z-index: 4;
  @include container;
  display: grid;
  place-items: center;
  height: var(--header-height);
  transition: transform 200ms ease-in-out;
  transform: scale(100%);
}

.faded {
  transform: scale(0);
}

.itemsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.album {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.type {
  @include textSecondary;
}

.name {
  @include textMain(var(--color-white-100));
}
