@import '../../styles/index.scss';

.container {
  @include container;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--footer-height);
  background-color: var(--color-white-100);
}

.wrapper {
  display: flex; 
  flex-direction: row;
  height: fit-content;
  align-items: center;
  width: 100%;
  background-color: var(--color-white-100);
}

.song__info {
  @include textMain(var(--color-black-80));
  display: flex;
  padding-left: 12px;
  background-color: var(--color-white-100);

  word-break: keep-all;
  overflow-x: hidden;
  white-space: nowrap;
}

.next {
  @include textSecondary;
}

.name {
  padding-right: 12px;
}

.dots {
  @include dots;
  align-self: flex-end;
}

.duration {
  @include textSecondaryBig;
  margin-left: auto;
  padding-left: 0.33em;
  background-color: var(--color-white-100);
}