@import '../../styles/index.scss';

.mainPartContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.slider {
}

.mainImage {
}

.song {
}

.name {
}

.artist {
}

.actions {
}

.progress {

}

.progressCanva {

}
